<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{title}</title>
    <link rel="shortcut icon" href="{favicon}" type="image/x-icon">
    
    <link rel="stylesheet" href="./public/lib/styles/materialize.css">
    <link rel="stylesheet" href="./areas/admin/content/themes/default/style.css">
</head>
<body>
    <script src="./public/lib/scripts/jquery-3.3.1.min.js"></script>
    <script src="./public/lib/scripts/materialize.min.js"></script>

    <script src="./public/scripts/app.js"></script>
    <script src="./public/scripts/app.web.js"></script>
    <script src="./areas/admin/scripts/themes/default/app.web.js"></script>
</body>

</html>